<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="snow" value="https://nuget.lykke-business.ch/api/v3/index.json" />
    <add key="duende-fix"
      value="https://www.myget.org/F/c336d179-1286-406d-b8ff-bfa3f49cd54e/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="snow">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
